service: logstreaming

frameworkVersion: "3"

provider:
  name: aws
  runtime: python3.11
  region: us-east-1
  stage: dev
  logRetentionInDays: 7

plugins:
  - serverless-python-requirements
  - serverless-plugin-log-subscription

functions:
  lambda1:
    handler: lambdas/lambda1/handler.handler
  lambda2:
    handler: lambdas/lambda2/handler.handler
  lambda3:
    handler: lambdas/lambda3/handler.handler
  lambda4:
    handler: lambdas/lambda4/handler.handler

custom:
  pythonRequirements:
    dockerizePip: true

  logSubscription:
    destinationArn:
      Fn::GetAtt:
        - LogFirehose
        - Arn
    filterPattern: ""
    stages:
      - dev
    logGroups:
      - /aws/lambda/logstreaming-dev-lambda1
      - /aws/lambda/logstreaming-dev-lambda2
      - /aws/lambda/logstreaming-dev-lambda3
      - /aws/lambda/logstreaming-dev-lambda4

resources:
  - ${file(resources/s3.yml)}
  - ${file(resources/iam.yml)}
  - ${file(resources/firehose.yml)}
