service: logstreaming
useDotenv: true
configValidationMode: error

provider:
  name: aws
  deploymentMethod: direct
  stage: ${opt:stage, 'dev'}
  region: ${opt:region, 'ap-south-1'}
  runtime: python3.11
  memorySize: 128
  timeout: 10
  logRetentionInDays: 7

plugins:
  - serverless-python-requirements
  - serverless-plugin-log-subscription

custom:
  pythonRequirements:
    dockerizePip: false

  logSubscription:
    enabled: true
    destinationArn:
      Fn::GetAtt:
        - LogFirehoseV4
        - Arn
    roleArn:
      Fn::GetAtt:
        - LogSubscriptionRole
        - Arn
    filterPattern: ""

package:
  individually: true
  patterns:
    - "!node_modules/**"
    - "!requirements.txt"
    - "!package.json"

functions:
  demo_one: ${file(resources/demo_one.yml)}
  demo_two: ${file(resources/demo_two.yml)}
  demo_three: ${file(resources/demo_three.yml)}
  demo_four: ${file(resources/demo_four.yml)}

resources:
  Resources:
    LogFirehoseV4: ${file(resources/firehose.yml)}
    LogBucket: ${file(resources/s3.yml)}
    FirehoseRole: ${file(resources/firehose_role.yml)}
    LogSubscriptionRole: ${file(resources/log_subscription_role.yml)}
