service: logstreaming
useDotenv: true
configValidationMode: error

provider:
  name: aws
  deploymentMethod: direct
  stage: ${opt:stage, 'dev'}
  region: ${opt:region, 'ap-south-1'}
  runtime: python3.11
  memorySize: 128
  timeout: 10
  logRetentionInDays: 7

plugins:
  - serverless-python-requirements
  - serverless-plugin-log-subscription

custom:
  pythonRequirements:
    dockerizePip: false

  logSubscription:
    destinationArn:
      Fn::GetAtt:
        - LogFirehose
        - Arn
    filterPattern: ""
    stages:
      - dev

package:
  individually: true
  patterns:
    - "!node_modules/**"
    - "!requirements.txt"
    - "!package.json"

functions:
  ${file(resources/demo_one.yml)}
  ${file(resources/demo_two.yml)}
  ${file(resources/demo_three.yml)}
  ${file(resources/demo_four.yml)}

resources:
  - ${file(resources/s3.yml)}
  - ${file(resources/iam.yml)}
  - ${file(resources/firehose.yml)}
